@media (max-width: 1200px){
    .promo{
        padding: 21px 30px 93px 30px;
    }
    .promo .promo_header{
        font-size: 35px;
    }

    .promo .promo_subheader{
        font-size: 19px;
    }
    .promo .button_main{
        width: 230px;
        height: 42px;
        font-size: 14px;
    }
    .promo .promo_icons{
        width: 380px;
    }
    .promo .promo_link{
        font-size: 14px;
    }    
}
@media (max-width: 992px){
    .advantages{
        .advantages_item{
            width: 230px;
        }
    }
    .title{
        &_left{
            font-size: 30px;
        }
    }
    .consultation{
        padding: 100px 25px 92px 25px;
    }
}
@media (max-width: 768px){
    .promo{
        .header_logo{
            max-width: 200px;
        }
        .header_official{
            display: none;
        }
        .promo_wrapper{
            margin-top: 60px;
        }
        .promo_header{
            font-size: 29px;
        }
        .promo_subheader{
            font-size: 15px;
        }
        .promo_icons{
            margin-top: 52px;
        }
        .promo_icon{
            font-size: 12px;
        }
        .button_main {
            width: 210px;
            height: 36px;
            font-size: 12px;
            margin-top: 50px;
        }
    }
    .advantages{
        .advantages_items{
            display: block;
            padding: 0 30px 0 30px;
        }
        .advantages_item {
            width: 100%;
            margin-top: 30px;
        }
        .advantages_item-title{
            margin-top: 35px;
        }
        .advantages_item-descr{
            margin-top: 25px;
        }
    }
    .title{
        &_left{
            font-size: 23px;
        }
    }
    .consultation__descr{
        font-size: 17px;
    }
    
}
@media (max-width: 571px){
    .promo{
        .header{
            display: block;
            text-align: center;
        }
        .header_logo img{
            width: 230px;
        }
        .header_contacts{
            text-align: center;
            margin-top: 30px;
        }
        .promo_header {
            font-size: 22px;
        }
        .promo_subheader {
            font-size: 13px;
        }
        .promo_wrapper {
            margin-top: 50px;
        }
        .promo_icons {
            margin-top: 45px;
            width: 100%;
        }
        .promo_icon img {
            max-width: 40px;
            margin-bottom: 16px;
        }
        .button_main{
            margin-left: auto;
            margin-right: auto;
        }
        .promo_link {
            font-size: 12px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .advantages{
        .advantages_title{
            font-size: 21px;
        }
        .advantages_items{
            margin-top: 55px;
            padding: 0;
        }
        .advantages_item-title{
            font-size: 17px;
            margin-top: 18px;
        }
        .advantages_item-descr{
            font-size: 12px;
            margin-top: 20px;
        }
    }
    .consultation{
        padding: 100px 0px 92px 0px;
    }
    .title_left{
        font-size: 15px;
    }
    .consultation__descr{
        font-size: 15px;
    }
}