@media (max-width: 1200px){
    .promo{
        padding: 21px 30px 93px 30px;
    }
    .promo .promo_header{
        font-size: 35px;
    }

    .promo .promo_subheader{
        font-size: 19px;
    }
    .promo .button_main{
        width: 230px;
        height: 42px;
        font-size: 14px;
    }
    .promo .promo_icons{
        width: 380px;
    }
    .promo .promo_link{
        font-size: 14px;
    }    
}