*{
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl 500';
}
html {
  scroll-behavior: smooth;
}

@import "mixins";
@import "variable";
@import "../fonts/stylesheet.css";
@import "animation";
@import "general";
@import "blocks/titles";
@import "blocks/consultation"; 
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/modale";
@import "blocks/pageup";

@import "media";

.container{
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";