*{
    box-sizing: border-box;
}


@import "media";
@import "mixins";
@import "variable";
@import "../fonts/stylesheet.css";
@import "general";
h1{
    background-color: aqua;
    font-family: 'Museo Sans Cyrl 500';
    font-weight: 700;
}