.catalog{
    padding-bottom: 100px;
    &__tabs{
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab{
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;              //ставит текст по центру
        transform: skewX(-25deg);       //наклон блоков
        margin: 0 5px;
        transition: 0.5s all;
        cursor: pointer;
        &:hover{
            box-shadow: 3px 3px 20px $oreng;   //тень по x, по y, размытие, цвет
            border: none;
        }
        div{
            transform: skewX(25deg);    // выравнивает наклон текста в блоке
        }
        &_active{
            color: #fff;
            background-color: $oreng;
            border: none;
        }
    }
    &__content{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        display: none;
        &_active{
            display: flex;
        }
    }
    &-item{
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;                  //не видно все что выходит за приделы
        margin-bottom: 20px;
        &__img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle{
            margin-top: 20px;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        &__descr{
            margin-top: 16px;
            font-size: 14px;
            font-weight: 300;
            color: #0d0d0d;
            text-align: center;
        }
        &__ling{
            font-size: 17px;
            margin-top: 17px;
            color: $oreng;
            font-weight: 500;
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;
            display: block;
            &:hover{
                color: $oreng
            }
        }
        hr{   
            background-color: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;              //убирает второй боттон
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        &__old-price{
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &_prace{
            color: #050505;
            font-size: 20px;
            font-weight: 700;
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);     //для скрытия элемента
            &_active{
                transform: translateX(0%);    //для скрытия элемента
                margin-right: 20px;
            }
        }
        &__list{
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: all 0.5s;
            padding-left: 19px;                  //убираем штатные стили ul
            margin-bottom: 0;                 //убираем штатные стили ul
            list-style-type: none;            //убираем штатные стили ul
            &_active{
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li{
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;
                &:before{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $oreng;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back{
                position: absolute; 
                bottom: 0;
                font-size: 14px;
                color: #c70101;
                font-weight: 500;
                text-align: center;
                text-decoration: underline;
                text-transform: uppercase;
                display: block;
                left: 50%;
                transform: translateX(calc(-50% - 19px));
            }
    }
}